@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');
*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* HEARDER-NAVBAR */
.navigation{
    display: flex;
    background-color: #ececec;
}
.navlinks{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0px;
}
.searchBar{
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s;
    color: #142d4c;
    input{
        border-radius: 7px;
    }
}
.searchBar:hover{
    scale: 1.1;
}
.navIcons{
    display: flex;
    margin-right: 30vh;
    padding: 5vh;
    transition: 0.3s;
    button{
        size: 20px;
        background-color: #ececec;
    }
    i{
        padding: 10px;
    }
}
.navIcons:hover{
    scale: 1.3;
}
.navigation>img{
    padding: 20px;
    transition: 0.3s;
}
.navigation img:hover{
    scale: 1.5;
}
.navlinks a{
    color: #385170;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.navlinks li{
    transition: 0.3s;
}
.navlinks li:hover{
    scale: 1.2;
}
.navlinks a:hover{
    text-decoration:underline ;
}
/* WOMENOFFER-SECTION */
.offer {
    width: 100%;
    height: 70vh;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('https://sslimages.shoppersstop.com/sys-master/root/he9/h91/32968383299614/Men-web_7-jdz.jpg');
    transition: 0.3s;
}
.offer:hover{
    background-image: url('https://sslimages.shoppersstop.com/sys-master/root/h7e/hbd/32912845766686/Hangup-%26-Bandeya-web_193-eh.jpg');
}
/* HEADING */
.productHeading{
    width: 100%;
    text-align: center;
    font-size: xx-large;
    padding: 2rem;
    color: #142d4c;
    p{
        font-size:medium;
        color:black;
    }
}
/* CARD-SECTION */
.allCards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin: 20vh 0 20vh 0;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    cursor: pointer;
    img{
            object-fit: contain;
          } 
          
    }
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    scale: 1.1;
    border: 2px solid #000000;
}
.menWearData {
    padding: 2px 16px;
    text-align: center;
  }
/* MENDETAILS-SECTION */
.menDetails{
    width: 100%;
    margin-top: 50px;
    margin: 20vh 0 20vh 0;
    border: 2px solid black;
    border-radius: 10px;
    /* position: absolute; */
    animation: moveRight 5s infinite;
    h3{
        font-size: xx-large;
        padding: 0 0 0 2rem;
        color: #142d4c;
    }
    p{
        padding: 0 2vh 2vh 2vh;
        color:black;
    }
}
@keyframes moveRight {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0);
    }
}
/* MENCARD-SECTION */
.allMenCard{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20vh 0 20vh 0;
}
.menCard{
    transition: 0.3s;
    img{
        border: 2px solid black;
        border-radius: 10px;
    }
}
.menButton button{
    padding: 5px;
    background-color: #385170;
    color: #ececec;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.menCard:hover{
    scale: 1.1;
    button{
        color: #385170;
        background-color: #ececec;
    }
}
/* FOOTER-SECTION */
.footer{
    margin-top: 2rem;
    padding: 2rem;
    color:#ececec ;
    background-color: #142d4c;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.footersubscribe{
    margin: 20px 20px 20px 0;
}
.footerDetails{
    padding-top: 1rem;
    ul{
        padding-left: 0;
    }
}
.socialIcons{
    background-color: #142d4c;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 5rem;
    padding-bottom: 5rem;
    button,i{
        background-color: #142d4c;
        color: #ececec;
        
    }
    i{
        border: 2px solid #ececec;
        padding: 15px;
        border-radius: 50%;
    }
}
.socialIcons i:hover{
        background-color: #ececec;
        color: #142d4c;
}
/* OTHERS */
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}