@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');
*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* HEARDER-NAVBAR */
.navigation{
    display: flex;
    background-color: #ececec;
}
.navlinks{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0px;
}
.searchBar{
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s;
    color: #142d4c;
    input{
        border-radius: 7px;
    }
}
.searchBar:hover{
    scale: 1.1;
}
.navIcons{
    display: flex;
    margin-right: 30vh;
    padding: 5vh;
    transition: 0.3s;
    button{
        size: 20px;
        background-color: #ececec;
    }
    i{
        padding: 10px;
    }
}
.navIcons:hover{
    scale: 1.3;
}
.navigation>img{
    padding: 20px;
    transition: 0.3s;
}
.navigation img:hover{
    scale: 1.5;
}
.navlinks a{
    color: #385170;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.navlinks li{
    transition: 0.3s;
}
.navlinks li:hover{
    scale: 1.2;
}
.navlinks a:hover{
    text-decoration:underline ;
}
/* WOMENOFFER-SECTION */
.offer {
    width: 100%;
    height: 70vh;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('https://sslimages.shoppersstop.com/sys-master/root/he9/h26/32839234486302/Denims-web_n11.jpg');
    transition: 0.3s;
}
.offer:hover{
    background-image: url('https://sslimages.shoppersstop.com/sys-master/root/h35/h0a/32848964517918/PB-web_08o.jpg');
}
/* WOMENTABLE-SECTION */
.womenTable{
    margin: 25vh 0 25vh 0;
    width: 100%;
    font-size: large;
    text-align: center;
    margin-top: 30px; 
    th{
        background-color:#ececec ;
        padding: 20px;
    }
    td{
        color: #ececec;
        padding: 15px;
    }
}
tr:nth-child(odd) {
    background-color:#385170;
}
tr:nth-child(even) {
    background-color:#142d4c;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
/* HEADING */
.productHeading{
    margin: 20vh 0 20vh 0;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    padding: 2rem;
    color: #142d4c;
}
/* WOMENCARD-SECTION */
.allMenCard{
    margin: 25vh 0 25vh 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.menCard{
    transition: 0.3s;
    img{
        border: 2px solid black;
        border-radius: 10px;
    }
}
.menButton button{
    padding: 5px;
    background-color: #385170;
    color: #ececec;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.menCard:hover{
    scale: 1.1;
    button{
        color: #385170;
        background-color: #ececec;
    }
}
/* FOOTER-SECTION */
.footer{
    margin-top: 2rem;
    padding: 2rem;
    color:#ececec ;
    background-color: #142d4c;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.footersubscribe{
    margin: 20px 20px 20px 0;
}
.footerDetails{
    padding-top: 1rem;
    ul{
        padding-left: 0;
    }
}
.socialIcons{
    background-color: #142d4c;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 5rem;
    padding-bottom: 5rem;
    button,i{
        background-color: #142d4c;
        color: #ececec;
        
    }
    i{
        border: 2px solid #ececec;
        padding: 15px;
        border-radius: 50%;
    }
}
.socialIcons i:hover{
        background-color: #ececec;
        color: #142d4c;
}
/* OTHERS */
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}